---
layout: default
title: Home
notitle: true
---
<div class="jumbotron">
  <p>
    The <b>LEVE</b> is a robotics research group that focus on outdoor intelligent vehicles. We are working mainly in car-like all-terrain ground vehicles and aerial airships platforms. We are part of the School of Mechanical Engineering (FEM) at Campinas State University (UNICAMP) and we collaborate close with research groups at the Robotics and Computer Vision Department at the CTI-Renato Archer, the Computing Institute at the Amazonas Federal University (UFAM), and the Lisbon Technical Institute (IST) in Portugal.
  </p>
</div>

<h2>News</h2>
<ul class="news list-unstyled">
{% for post in site.posts limit: site.front_page_news %}
    {% if post.shortnews %}
        <li class="shortnews">
            <span class="date">{{ post.date | date_to_long_string }}</span>
            {{ post.content }}
        </li>
    {% else %}
        <li class="bloglink">
            <span class="date">{{ post.date | date_to_long_string }}</span>
            <a href="{{ post.url }}">&raquo; {{ post.title }}</a>
        </li>
    {% endif %}
{% endfor %}
</ul>
{% assign numposts = site.posts | size %}
{% if numposts >= site.front_page_news %}
<p><a href="{{ site.base }}/blog/">Older posts&hellip;</a></p>
{% endif %}



